{% extends "base.html" %}

{% block static_css %}
<link href="{{ static_url('css/element-ui_index.css') }}" rel="stylesheet">
{% end %}

{% block static_js %}

<script src="{{ static_url('js/element-ui_index.js') }}"></script>
<script>
    var Main = {
        data() {
            return {
                tableData: [{
                    id: '-',
                    c_time: '-',
                    uk: '-',
                    username: '-',
                    server_filename_short: '-',
                    server_filename: '-',
                    url: '/',
                    publics: '-',
                    size: '-',
                    uk_url:'#'
                }],
                currentPage: 1,
                searchValue: '',
                totals:1,
                pageSize:15
            }
        },
        methods: {
            baiduSearch: function (val) {
                clicktotop();
                this.$http.post('/',
                        {
                            currentPage: val,
                            _xsrf:getCookie('_xsrf'),
                            pageSize:this.pageSize,
                            searchValue:this.searchValue
                        }
                        ,{emulateJSON: true}).then(function (data) {
                        this.loading2=false;
                       this.tableData=data.body['tableData'];
                       this.totals=data.body['totals']
                       this.currentPage=val

                }, function (response) {
                    this.currentPage=val
                    this.loading2=false;
                    console.log(response)
                });
            },
            handleEdit(index, row) {
                console.log(index, row);
                console.log(row.url);
                window.open(row.url);
            },
            handleDelete(index, row) {
                console.log(index, row);
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.baiduSearch(val);
                console.log(`当前页: ${val}`);
            },
            loading2: true
        }
    };
    var Ctor = Vue.extend(Main);
    var vm = new Ctor().$mount('#app');
    vm.baiduSearch(1);
</script>
{% end %}


{% block page_content %}
<!-- page content -->
<div class="" id="app">
    <div class="page-title">

        <div >
            <br/>
            <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-3 form-group  top_search" >
                <div class="input-group">
                    <input type="text" v-on:keyup.enter="baiduSearch(1)" class="form-control" placeholder="Search for..." v-model="searchValue">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" v-on:click="baiduSearch(1)" >Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <template>
            <el-table :data="tableData" border style="width: 100%" v-loading="loading2" element-loading-text="拼命加载中">
                <el-table-column label="id" width="150">
                    <template scope="scope">
                        <span style="margin-left: 10px" v-text="scope.row.id"></span>
                    </template>
                </el-table-column>
                <el-table-column label="创建时间" width="200">
                    <template scope="scope">
                        <span style="margin-left: 10px" v-text="scope.row.c_time"></span>
                    </template>
                </el-table-column>
                <el-table-column label="分享人" min-width="200">
                    <template scope="scope">
                        <a style="margin-left: 10px" type="primary" target="_blank" v-text="scope.row.username" v-bind:href="scope.row.uk_url"></a>
                    </template>
                </el-table-column>
                <el-table-column label="文件名" min-width="200">
                    <template scope="scope">
                        <el-popover trigger="hover" placement="top">
                            <p v-text="scope.row.server_filename">姓名: </p>
                            <div slot="reference" class="name-wrapper">
                                <el-tag v-text="scope.row.server_filename_short"></el-tag>
                            </div>
                        </el-popover>
                    </template>
                </el-table-column>

                <el-table-column label="是否公开" >
                    <template scope="scope">
{#                        <span style="margin-left: 10px" v-text="scope.row.publics"></span>#}
                         <el-tag :type="scope.row.publics === '是' ? '' : 'success'" close-transition v-text="scope.row.publics"></el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="大小" width="150">
                    <template scope="scope">
                        <span style="margin-left: 10px" v-text="scope.row.size"></span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" >
                    <template scope="scope">
{#                        <el-button type="text" size="mini" @click="handleEdit(scope.$index, scope.row)">链接</el-button>#}
                        <a v-bind:href="scope.row.url" style="margin-left: 10px" type="primary" target="_blank">链接</a>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <template>
            <br/>
            <div class="title_right">
                <el-pagination class="pull-right" @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                v-bind:current-page="currentPage"
                               layout="total, prev, pager, next" :total.sync="totals"  :page-size.sync="pageSize">
                </el-pagination>
            </div>
        </template>
    </div>
</div>
<!-- /page content -->
{% end %}
